<app-player *ngFor="let player of game.players; let i = index" [ngStyle]="{'top.px': 10 + (i * 60)}"
    [playerActive]=" i == game.currentPlayer" [name]="player" class="playerPosition"></app-player>

<div class="field">
    <div class="cardStack">

        <!-- Card stack -->
        <ng-container *ngIf="!allCardsDrawn">
            <img [ngStyle]="{'right.px' : i * 5}" *ngFor="let c of [0,1,2,3,4]; let i = index;"
                src="assets/img/cardback.png">
            <img (click)="takeCard()" class="topCard" style="right: 25px" src="assets/img/cardback.png">
        </ng-container>

        <!-- Stack for played cards -->
        <img *ngFor="let card of game.playedCards" class="playedCard" src="assets/img/cards/{{ card }}.png">

        <!-- Current card animation -->
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pickCard" style="right: 25px"
            src="assets/img/cards/{{ game.currentCard }}.png">

    </div>
</div>

<div *ngIf="!game.pickCardAnimation && game.players.length < 2" class="requimentContainer">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title [style.color]="'red'">
                <h1>Two Players Required</h1>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>

        </mat-card-header>
        <mat-card-content>
            <h2>Ring of Fire - Your Ultimate Drinking Game
                Adventure!</h2>
            <b>Raise your glasses to "Ring of Fire" - the ultimate drinking game! Gather a group of two to six players,
                each armed with their favorite beverages, and get ready for a side-splitting and intoxicating gaming
                extravaganza. Prepare to double the fun, the dares, and the sips as you embark on this uproarious and
                spirited drinking journey!</b>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="showMaxPlayersCard" class="requimentContainer">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title [style.color]="'red'">Number of players reached</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <b>The limit of 6 players has been reached</b>
        </mat-card-content>
    </mat-card>
</div>


<app-game-info [card]="game.currentCard" class="rulesContainer"></app-game-info>
<button mat-fab color="primary" (click)="openDialog()" class="addButton">
    <mat-icon>person_add</mat-icon>
</button>