body{
    margin: 0;
    background-image: url(assets/img/dark-wood-wall.jpg);
    background-position: center;
    background-size: fill;
    font-family: 'Caprasimo', cursive;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
